* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: lightskyblue; }
.logo img {
  width: 60px;
}
.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
}
.gnb-list li a {
  color: #fff;
  font-weight: 700;
}
.gnb-list li a:hover {
  color: dodgerblue;
  text-decoration: underline;
}

.back-img {
  height: 600px;
  background-image: url(./images/스누피배경.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.back-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  color: #fff;
}

.back-txt p {
  margin-top: 20px;
  font-size: 18px;
}

.card-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card-list div {
  width: 300px;
  margin: 0 20px;
  padding: 50px 16px;
  color: #000;
  background-color: lightcyan; 
  text-align: center;
  border-radius: 20px;
}

.card-list div p {
  margin-top: 20px;
}

.scroll {
  height: 1600px;
}

.back-box {
  height: 600px;
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo2 {
  width: 400px;
  height: 400px;
  background-image: url(./images/스누피2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
  margin: 40px;
}

.back-img2 {
  width: 400px;
  height: 400px;
  background-image: url(./images/pngegg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  margin: 40px;
  }
  
.global-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: lightskyblue; }