* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background-color: #333;
}
.logo img {
  width: 60px;
}
.gnb-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
}
.gnb-list li a {
  color: #fff;
  font-weight: 700;
}
.gnb-list li a:hover {
  color: dodgerblue;
  text-decoration: underline;
}
.back-img {
  height: 600px;
  background-image: url(./images/back.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.back-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 600px;
  color: #fff;
}
.back-txt p {
  margin-top: 20px;
  font-size: 18px;
}
.back-txt button {
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
}
.second-box{
  width: 500px;
  text-align: center;
  margin: -66px auto 0 auto;
  padding: 40px 36px;
  border-radius: 20px;
  color: #fff;
  background-color: #000;
}
.second-box p {
  margin-top: 24px;
}