body {
  background-color: rgb(0, 60, 255);
}
.google {
  width: 500px;
  margin: 150px auto 0 auto;
  text-align: center;
}
.bg-white {
  padding: 20px 0;
  border-radius: 20px;
  background-color: white;
}
.google img {
  padding: 50px 0;

}