a {
    color: #000;
    text-decoration: none;
}
.list a {
    color:purple;
    font-size: 20px;
    font-weight: bold;
}
.box {
    height: 1000px;
    /* 둥글게 하기의 방향은 좌.상-> 우.상-> 우.하-> 좌.하 순서로 간다 */
    border-radius: 30px;
    
}
.line-blueviolet {
        width: 400px; 
        margin: 0 auto;
        border: 5px solid blueviolet
    }
.line-pink {
    width: 500px;
    margin: 0 auto; 
    border: 5px solid pink
}
.line-yello {
    width: 400px;
    margin: 0 auto;
    border: 5px solid yellow
}
